{
  "root": true,
  "extends": ["eslint-config-xs"],
  "rules": {
    "max-lines-per-function": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "": "never",
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ]
  }
}